<md-dialog flex="40">
    <form ng-cloak name="addUser">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>TẠO TÀI KHOẢN MỚI</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Tên tài khoản</label>
                    <input type="text"
                           name="username"
                           ng-model="userModal.username"
                           md-maxlength="32"
                           ng-pattern="/^[a-zA-Z0-9]*$/"
                           placeholder="Nhập tên tài khoản"
                           required/>
                    <div ng-messages="addUser.username.$error" ng-show="addUser.username.$dirty">
                        <div ng-message="required">Tên tài khoản không được để trống!</div>
                        <div ng-message="md-maxlength">Tên tài khoản quá dài!</div>
                        <div ng-message="pattern">Tên tài khoản chỉ bao gồm kí tự chữ cái và số viết liền không dấu!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Tên người dùng</label>
                    <input type="text"
                           name="name"
                           ng-model="userModal.name"
                           md-maxlength="32"
                           placeholder="Nhập tên người dùng"
                           required/>
                    <div ng-messages="addUser.name.$error" ng-show="addUser.name.$dirty">
                        <div ng-message="required">Tên người dùng không được để trống!</div>
                        <div ng-message="md-maxlength">Tên người dùng quá dài!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Địa chỉ Email</label>
                    <input type="email"
                           name="email"
                           ng-model="userModal.email"
                           placeholder="Nhập địa chỉ Email"
                           md-maxlength="128"
                           required/>
                    <div ng-messages="addUser.email.$error" ng-show="addUser.email.$dirty">
                        <div ng-message="required">Địa chỉ Email không được để trống!</div>
                        <div ng-message="md-maxlength">Địa chỉ Email quá dài!</div>
                        <div ng-message="email">Địa chỉ Email không đúng định dạng!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mật khẩu</label>
                    <input type="password" name="password"
                           ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]/"
                           minlength="8"
                           md-maxlength="64"
                           placeholder="Nhập mật khẩu"
                           ng-model="userModal.password"
                           required>
                    <div ng-messages="addUser.password.$error" ng-show="addUser.password.$dirty">
                        <div ng-message="required">Mật khẩu mới không được để trống!</div>
                        <div ng-message="pattern">Mật khẩu phải chứa kí tự chữ cái và chứ số!</div>
                        <div ng-message="minlength">Mật khẩu ít nhất có 8 kí tự!</div>
                        <div ng-message="md-maxlength">Mật khẩu quá dài!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Nhập lại mật khẩu</label>
                    <input type="password" name="password2"
                           ng-model="userModal.password2"
                           placeholder="Nhập lại mật khẩu"
                           ng-disabled="addUser.password.$invalid"
                           required>
                    <div ng-messages="addUser.password2.$error" ng-show="addUser.password2.$dirty">
                        <div ng-message="required">Mật khẩu nhập lại không được để trống!</div>
                        <div ng-message="notMatch">Mật khẩu nhập lại không khớp!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Nhóm </label>
                    <md-select ng-model="userModal.groupid"
                               required
                               name="groupid">
                        <md-option ng-repeat="g in groups" value="{{g.id}}">{{g.name}}</md-option>
                    </md-select>
                    <div ng-messages="addUser.groupid.$error" ng-show="addUser.groupid.$dirty">
                        <div ng-message="required">Nhóm không được để trống!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-margin>
            <span flex></span>
            <md-button class="md-warn md-raised" ng-click="cancel()">
                Hủy bỏ
            </md-button>
            <md-button class="md-success md-raised" ng-disabled="addUser.$invalid && onRequest"
                       md-auto-focus
                       ng-click="add()">
                Thêm mới
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>