<div layout="column" layout-gt-md="row" layout-margin>
    <div flex flex-gt-md="30" layout="column">
    </div>
    <div flex flex-gt-md="40" layout="column">
        <md-input-container class="md-icon-right md-block">
            <label>Tìm kiếm </label>
            <md-icon md-font-set="material-icons"> search </md-icon>
            <input ng-model="searchUser" type="text" placeholder="Nhập từ khóa tìm kiếm">
            <div ng-hide="true">
                {{(filteredUser = (users | filter: searchUser))}}
            </div>
        </md-input-container>
    </div>
    <div flex flex-gt-md="15" layout="column">
        <md-button class="md-raised md-success" ng-click="addUserModal()">Tạo người dùng</md-button>
    </div>
</div>
<div layout="column" layout-margin>
    <div flex>
        <mdt-table selected-row-callback="selectedActiveRulesCallback(rows)"
                   paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,100]}"
                   mdt-row="{
                           data: filteredUser,
                          'table-row-id-key': 'id',
                          'column-keys': [
                              'username',
                              'name',
                              'email',
                              'created_at',
                              'groupName',
                              'status',
                              'lock_status',
                              'id'
                          ]
                          }">
            <mdt-header-row>
                <mdt-column align-rule="left">Tên tài khoản</mdt-column>
                <mdt-column align-rule="left">Tên người dùng</mdt-column>
                <mdt-column align-rule="left">Địa chỉ email</mdt-column>
                <mdt-column align-rule="left">Thời giạn tạo</mdt-column>
                <mdt-column align-rule="left">Nhóm người dùng</mdt-column>
                <mdt-column align-rule="left">Xác nhận</mdt-column>
                <mdt-column align-rule="left">Trạng thái</mdt-column>
                <mdt-column align-rule="left">Hành động</mdt-column>
            </mdt-header-row>
            <mdt-custom-cell column-key="username">
                <strong>{{value}}</strong>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="status">
                <label class="label label-warning" ng-show="value == 0">Chưa xác nhận</label>
                <label class="label label-success" ng-show="value == 1">Xác nhận</label>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="lock_status">
                <label class="label label-success" ng-show="value == 0">Bình thường</label>
                <label class="label label-warning" ng-show="value == 1">Khóa</label>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="id">
                <md-icon ng-click="clientScope.resetUserModal(value)"
                         class="md-secondary"
                         md-font-set="material-icons"
                         md-colors="{color:'orange-500'}"
                         title="Đặt lại mật khẩu">replay
                </md-icon>
                <md-icon ng-click="clientScope.lockUserModal(value)"
                         class="md-secondary"
                         md-font-set="material-icons"
                         md-colors="{color:'orange-500'}"
                         title="Khóa/Mở tài khoản">lock
                </md-icon>
                <md-icon ng-click="clientScope.editUserModal(value)"
                         class="md-secondary"
                         md-font-set="material-icons"
                         md-colors="{color:'green-500'}"
                         title="Chỉnh sửa tài khoản">edit
                </md-icon>
                <md-icon ng-click="clientScope.deleteUserModal(value)"
                         class="md-secondary"
                         md-font-set="material-icons"
                         md-colors="{color:'red-500'}"
                         title="Xóa tài khoản">delete
                </md-icon>
            </mdt-custom-cell>
        </mdt-table>
    </div>
</div>