<div layout="column" layout-gt-md="row" layout-margin>
    <div layout="column" class="md-whiteframe-1dp" flex="70">
        <div layout="column" layout-align="center center">
            <div><h3>Student Information</h3></div>
        </div>
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Student Name :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{selectedStudent.last_name}} {{selectedStudent.first_name}}</span>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Student ID :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{selectedStudent.username}}</span>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Class :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{selectedStudent.class_id}}</span>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Degree :</div>
            <div flex-xs="70" flex ng-if="selectedStudent.class_id">
                <md-input-container>
                    <span>Bachelor</span>
                </md-input-container>
            </div>
        </div>
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Status :</div>
            <div flex-xs="70" flex ng-if="selectedStudent.class_id">
                <md-input-container>
                    <span>Undergraduate</span>
                </md-input-container>
            </div>
        </div>

    </div>
    <div flex flex-gt-md="30" layout="column" >
    </div>
    <div flex flex-gt-md="30" layout="column" >
        <md-button class="md-raised md-success" ng-disabled="alertList.id.length == 0" ng-click="editScoreModal()" permission permission-only="['1']">Update Score</md-button>
    </div>
    <div flex flex-gt-md="30" layout="column" >
    </div>

</div>
<div layout="column" layout-margin>
    <div flex>
        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,30]}"
                   mdt-row="{
                       data: score,
                      'column-keys': [
                          'semester',
                          'course_id',
                          'course_name',
                          'cost',
                          'score',
                          'text_score'
                      ]
                      }">
            <mdt-header-row>
                <mdt-column align-rule="left">Semester</mdt-column>
                <mdt-column align-rule="left">Course ID</mdt-column>
                <mdt-column align-rule="left">Course Name</mdt-column>
                <mdt-column align-rule="left">Credit</mdt-column>
                <mdt-column align-rule="left">Score (number)</mdt-column>
                <mdt-column align-rule="left">Score (text)</mdt-column>
            </mdt-header-row>
            <mdt-custom-cell column-key="semester">
                2016-{{value}}
            </mdt-custom-cell>
        </mdt-table>
    </div>
</div>