<div layout="column" layout-margin>
    <md-progress-linear ng-show="loadingTablePermission" md-mode="indeterminate" class="md-accent"></md-progress-linear>
    <mdt-table>
        <mdt-header-row>
            <mdt-column align-rule="left">
                Nhóm chức năng
            </mdt-column>
            <mdt-column ng-repeat="p in permissions track by $index"><strong>{{p.groupName}}</strong></mdt-column>
        </mdt-header-row>

        <mdt-row ng-repeat="c in controllers track by c.id">
            <mdt-cell><strong>{{c.vietnamese}}</strong></mdt-cell>
            <mdt-cell ng-repeat="permission in permissions track by $index" html-content="true">
                <div class="text-center"
                     md-ink-ripple
                     ng-bind-html="checkPermission(c.id , permission.controllerId)"
                     ng-click="changePermission(c.id, permission.groupId)">
                </div>
            </mdt-cell>
        </mdt-row>

    </mdt-table>
</div>