<div layout="column" layout-gt-md="row" layout-margin>
    <div flex flex-gt-md="30" layout="row">
        <md-input-container flex="80">
            <label>Select Class</label>
            <md-select ng-model="order_type">
                <md-option value="all" ng-click="getStudent('all')">All Class</md-option>
                <md-option value="{{value.id}}" ng-repeat="value in classes" ng-click="getStudent(value)">{{value.id}}</md-option>
            </md-select>
        </md-input-container>
        <!--<md-input-container flex>-->
        <!--<label>Trường sắp xếp</label>-->
        <!--<md-select ng-model="field"-->
        <!--ng-model-options="{trackBy: '$value.id'}">-->
        <!--<md-option ng-repeat="f in fieldValues" ng-value="{{f}}">{{f.name}}</md-option>-->
        <!--</md-select>-->
        <!--</md-input-container>-->
        <!--<md-input-container flex>-->
        <!--<label>Bộ lọc</label>-->
        <!--<md-select ng-model="selectedFilter" multiple>-->
        <!--<md-optgroup label="Mức độ nguy hiểm">-->
        <!--<md-option ng-value="valueFilter" ng-repeat="valueFilter in valueFilters | filter: {category: 'severity' }">{{valueFilter.name}}</md-option>-->
        <!--</md-optgroup>-->
        <!--<md-optgroup label="Gửi cảnh báo">-->
        <!--<md-option ng-value="valueFilter" ng-repeat="valueFilter in valueFilters | filter: {category: 'is_alerted' }">{{valueFilter.name}}</md-option>-->
        <!--</md-optgroup>-->
        <!--</md-select>-->
        <!--</md-input-container>-->
    </div>
    <div flex flex-gt-md="50" layout="column">
        <md-input-container class="md-icon-right md-block">
            <label>Search</label>
            <md-icon md-font-set="material-icons"> search </md-icon>
            <input ng-model="expression" type="text" placeholder="Enter search query...">
        </md-input-container>
        <div ng-hide="true">
            {{(filtedStudents = (students | filter: expression))}}
        </div>
    </div>
</div>
<div layout="column" layout-margin>
    <div flex>
        <md-progress-linear ng-if="loadingStudent === true " md-mode="indeterminate" class="md-accent"></md-progress-linear>
        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,30,40,50]}"
                   mdt-row-paginator-error-message="Xảy ra lỗi khi tải dữ liệu"
                   mdt-row="{
                          data : filtedStudentsss,
                          'column-keys': [
                              'username',
                              'last_name',
                              'first_name',
                              'class_id',
                              'year',
                              'id'
                          ]
                          }">
            <mdt-header-row>
                <mdt-column align-rule="left">Student ID</mdt-column>
                <mdt-column align-rule="left">Last Name</mdt-column>
                <mdt-column align-rule="left">First Name</mdt-column>
                <mdt-column align-rule="left">Class</mdt-column>
                <mdt-column align-rule="left">Year</mdt-column>
                <mdt-column align-rule="left">Detail</mdt-column>
            </mdt-header-row>
            <mdt-custom-cell column-key="id">
                <md-icon md-ink-ripple class="material-icon" ng-click="clientScope.showresult(value)">arrow_forward</md-icon>
            </mdt-custom-cell>
        </mdt-table>
    </div>
</div>