<md-dialog flex="40">
    <form ng-cloak name="editRule">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>CẬP NHẬT BỘ NHẬN DẠNG</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Tên cảnh báo</label>
                    <input type="text"
                           name="name"
                           ng-model="selectedRule.name"
                           md-maxlength="64"
                           placeholder="Nhập tên cảnh báo"
                           required/>
                    <div ng-messages="editRule.name.$error" ng-show="editRule.name.$dirty">
                        <div ng-message="required">Tên cảnh báo không được để trống!</div>
                        <div ng-message="md-maxlength">Tên cảnh báo quá dài!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Câu truy vấn </label>
                    <input type="text"
                           name="query"
                           ng-model="selectedRule.query"
                           placeholder="Nhập câu truy vấn"
                           required/>
                    <div ng-messages="editRule.query.$error" ng-show="editRule.query.$dirty">
                        <div ng-message="required">Câu truy vấn không được để trống!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mô tả cảnh báo </label>
                    <input type="text"
                           name="tag_description"
                           ng-model="selectedRule.tag_description"
                           placeholder="Nhập mô tả cảnh báo"
                           md-maxlength="128"
                           required/>
                    <div ng-messages="editRule.tag_description.$error" ng-show="editRule.tag_description.$dirty">
                        <div ng-message="required">Mô tả không được để trống!</div>
                        <div ng-message="md-maxlength">Mô tả cảnh báo quá dài!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Mức độ cảnh báo</label>
                    <md-select name="severity" ng-model="selectedRule.severity" required>
                        <md-option value="3">Cao</md-option>
                        <md-option value="2">Trung bình</md-option>
                        <md-option value="1">Thấp</md-option>
                    </md-select>
                    <div ng-messages="editRule.severity.$error" ng-show="editRule.severity.$dirty">
                        <div ng-message="required">Mức độ cảnh báo không được để trống!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Trạng thái sử dụng</label>
                    <md-select name="enabled" ng-model="selectedRule.enabled" required>
                        <md-option value="1">Kích hoạt</md-option>
                        <md-option value="0">Vô hiệu hóa</md-option>
                    </md-select>
                    <div ng-messages="editRule.enabled.$error" ng-show="editRule.enabled.$dirty">
                        <div ng-message="required">Trạng thái sử dụng cảnh báo không được để trống!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn" ng-click="cancel()">
                Hủy bỏ
            </md-button>
            <md-button class="md-primary" ng-disabled="editRule.$invalid && onRequest"
                       md-auto-focus
                       ng-click="edit()">
                Cập nhật
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>