<div ng-controller="registerController as ctrl" ng-cloak>
    <div layout-padding layout="column" layout-gt-md="row" layout-margin style="max-height: 450px">
        <md-content flex="nogrow" flex-gt-md="30" layout="column">
            <div layout="row">
                <form flex ng-submit="searchCourse(query)" name="formSearch">
                    <md-input-container ng-form="formSearch" class="md-icon-float md-icon-right mb-block">
                        <!-- Use floating label instead of placeholder -->
                        <md-icon md-font-set="material-icons"> search </md-icon>
                        <label for="search">Course Searching</label>
                        <input ng-model="id" id="search" type="text">
                    </md-input-container>
                </form>
            </div>

            <md-list flex class="max-heigh-content">
                <md-progress-linear ng-show="loadingCourseList" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                <p class="noThing" ng-if="!loadingCourseList && showCourse.length==0"><em>No Course Available!</em></p>
                <p class="noThing" ng-if="loadingCourseList && showCourse.length==0"><em>Loading All Course</em></p>
                <md-list-item ng-click="select(value)" ng-if="!loadingCourseList" ng-repeat="value in showCourse | filter : id"
                              ng-class="selectedId==value.id?'label-grey':''" >
                    <md-icon hide-sm hide-xs ng-if="!value.active"
                             md-font-set="material-icons" md-colors="{color:'red-500'}" title="Close">highlight_off</md-icon>
                    <md-icon hide-sm hide-xs ng-if="value.active"
                             md-font-set="material-icons" md-colors="{color:'green-500'}" title="Opening">check_circle</md-icon>
                    <p class="longText"><strong>{{value.id}}</strong></p>
                </md-list-item>
            </md-list>
        </md-content>
        <div layout="column" layout-gt-md="row" flex flex-gt-md="70" layout-margin>
            <div flex layout="column">
                <strong>
                    <md-toolbar>
                        <div class="md-toolbar-tools">
                            Opening Class
                        </div>
                    </md-toolbar>
                    <md-content class="md-whiteframe-1dp">
                        <h1 class="noThing" ng-show="loadClass && showClass.length === 0"><em>No class available at the moment</em></h1>
                        <h1 class="noThing" ng-show="!valid"><em>This course is not opened yet</em></h1>
                        <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
                                   selectable-rows="valid"
                                   ng-disable="valid"
                                   selected-row-callback="selectedRowCallback(rows)"
                                   mdt-row="{
                        data : showClass,
                        'table-row-id-key': 'part_index',
                        'column-keys': [
                          'id',
                          'semester',
                          'enrolled',
                          'max_enroll',
                          'year'
                        ]
                      }">
                            <mdt-header-row>
                                <mdt-column align-rule="left">Id</mdt-column>
                                <mdt-column align-rule="left">Semester</mdt-column>
                                <mdt-column align-rule="left">Enroll</mdt-column>
                                <mdt-column align-rule="left">Max enroll</mdt-column>
                                <mdt-column align-rule="left">Year</mdt-column>
                            </mdt-header-row>
                        </mdt-table>
                    </md-content>
                </strong>
            </div>
        </div>
    </div>
    <div flex layout="column" class="md-whiteframe-1dp" ng-show="loadRoom">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Registered Class
            </div>
        </md-toolbar>
        <md-content>
            <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
                       mdt-row-paginator-error-message="Xảy ra lỗi khi tải dữ liệu"
                       mdt-row="{
                       data : registerRoom,
                      'column-keys': [
                          'id',
                          'time',
                          'course_id',
                          'credit',
                          'lecturer_name',
                          'semester',
                          'requirements',
                          'part_index'
                        ]
                      }">
                <mdt-header-row>
                    <mdt-column align-rule="center">Id</mdt-column>
                    <mdt-column align-rule="center">Time</mdt-column>
                    <mdt-column align-rule="center">Course Id</mdt-column>
                    <mdt-column align-rule="center">Credit</mdt-column>
                    <mdt-column align-rule="center">Lecturer name</mdt-column>
                    <mdt-column align-rule="center">Semester</mdt-column>
                    <mdt-column align-rule="center">Requirements</mdt-column>
                    <mdt-column align-rule="center">Remove</mdt-column>
                </mdt-header-row>
                <mdt-custom-cell column-key="requirements">
                    <label class="label label-success ng-scope ng-hide" ng-show="value.length > 0" aria-hidden="true">{{value}}</label>
                    <label class="label label-warning ng-scope" ng-show="value.length === 0" aria-hidden="false">NOT ACTIVE</label>
                </mdt-custom-cell>
                <mdt-custom-cell column-key="part_index">
                    <md-icon md-ink-ripple class="material-icon" ng-click="clientScope.remove(value)" md-colors="{background: 'red'}" title="Remove This Session">close </md-icon>
                </mdt-custom-cell>
            </mdt-table>

        </md-content>
    </div>
    <div layout="row" layout-align="center center">
        <button class="md-raised md-success md-button" type="button" ng-disabled="error" ng-click="register()">Confirm</button>
        <button class="md-raised md-warn md-button" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>