<div layout="column" layout-gt-md="row" layout-margin>
    <div flex flex-gt-md="30" layout="column">
    </div>
    <div flex flex-gt-md="40" layout="column">
        <md-input-container class="md-icon-right md-block">
            <label>Tìm kiếm </label>
            <md-icon md-font-set="material-icons"> search </md-icon>
            <input ng-model="filterName" type="text" placeholder="Nhập từ khóa tìm kiếm">
            <div ng-hide="true">
                {{(filteredItems = (agents | filter: filterName))}}
            </div>
        </md-input-container>
    </div>
    <div flex flex-gt-md="15" layout="column">
        <md-button class="md-raised md-success" ng-click="addAgentModal()">Tạo sensor</md-button>
    </div>
    <div flex flex-gt-md="15" layout="column">
        <md-button class="md-raised md-warn" ng-click="downloadAgentModal()">Download sensor</md-button>
    </div>
</div>
<div layout="column" layout-margin>
    <div flex>
        <md-progress-linear flex ng-show="loading" md-mode="indeterminate" class="md-accent"></md-progress-linear>
        <mdt-table ng-show="!loading"
                   paginated-rows="{isEnabled: true, rowsPerPageValues: [10,20,100]}"
                   mdt-row="{
                      'data': filteredItems,
                      'table-row-id-key': 'id',
                      'column-keys': ['unconstant_name', 'ipAddress', 'description','key','hasData','id']
                      }">
            <mdt-header-row>
                <mdt-column align-rule="left">Tên Sensor</mdt-column>
                <mdt-column align-rule="right">Địa chỉ IP</mdt-column>
                <mdt-column align-rule="right">Mô tả</mdt-column>
                <mdt-column align-rule="left">KEY</mdt-column>
                <mdt-column align-rule="right">Trạng thái</mdt-column>
                <mdt-column align-rule="right">Hành động</mdt-column>
            </mdt-header-row>
            <mdt-custom-cell column-key="unconstant_name">
                <strong>{{value}}</strong>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="key">
                <div style="min-width: 350px;" ng-mouseenter="showDetails=true" ng-mouseleave="showDetails=false">
                    <label ng-hide="showDetails"
                           class="label label-warning">
                        <i class="fa fa-warning"></i> Hiện key
                    </label>
                    <div ngclipboard
                         class="btn"
                         data-clipboard-text={{value}}
                         ng-show="showDetails"
                         ngclipboard-success="clientScope.copySuccess();">
                        <em>{{value}}</em>
                    </div>
                </div>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="hasData">
                <label ng-show="value==1"
                       class="label label-success"
                       title="Đã có log">Active
                </label>
                <label ng-show="value==0"
                       class="label label-warning"
                       title="Chưa có log">Pending
                </label>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="id">
                <md-icon ng-click="clientScope.editAgentModal(value)" class="md-secondary"
                         md-font-set="material-icons" md-colors="{color:'green-500'}">edit</md-icon>
                <md-icon ng-click="clientScope.deleteAgentModal(value)" class="md-secondary"
                         md-font-set="material-icons" md-colors="{color:'red-500'}">delete</md-icon>
            </mdt-custom-cell>
        </mdt-table>
    </div>
</div>