<md-dialog flex="40">
    <form ng-cloak name="addSuccess">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>TẢI SENSOR</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="row" layout-padding>
                    <div flex="50" class="text-center">
                        <img ng-show="formDownload.os=='Linux'" src="images/linux.png">
                        <img ng-show="formDownload.os=='Windows'" src="images/windows.png">
                    </div>
                    <div flex="50" class="text-center">
                        <img ng-show="formDownload.server=='Apache'" src="images/apache.png">
                        <img ng-show="formDownload.server=='Microsoft IIS'" src="images/iis.png">
                        <img ng-show="formDownload.server=='Nginx'" src="images/nginx.png">
                    </div>
                </div>
                <div layout="row" layout-padding>
                    <div flex="50">
                        <md-input-container class="md-block">
                            <label>Chọn hệ điều hành </label>
                            <md-select ng-model="formDownload.os">
                                <md-option ng-repeat="d in downloadOptions" value="{{d.os}}">{{d.os}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex="50">
                        <md-input-container class="md-block">
                            <label>Chọn kiểu máy chủ </label>
                            <md-select ng-model="formDownload.server"
                                       ng-disabled = "!formDownload.os">
                                <md-option ng-repeat="s in selectedOs.server" value="{{s}}">{{s}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-margin>
            <span flex></span>
            <md-button class="md-warn md-raised" ng-click="cancel()">
                Hủy bỏ
            </md-button>
            <md-button class="md-info md-raised"
                       ng-show="formDownload.os=='Windows'"
                       ng-click="downloadGuide()">
                Hướng dẫn
            </md-button>
            <md-button class="md-success md-raised"
                       md-auto-focus
                       ng-disabled="!formDownload.os || !formDownload.server"
                       ng-click="downloadAgent()">
                Download
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>