<div layout="column" layout-gt-md="row">
    <div flex ng-repeat="p in panelResult">
        <md-card class="panel-blue">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{p.name}}</span>
                    <span class="md-headline" >{{p.info }}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ui-sref="{{p.href}}" ng-disabled="!p.href" permission permission-only="['1', '3']"><span ng-if="p.href">Chi tiết <i class="material-icons">more_horiz</i></span></md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<strong>
    <div layout="column" layout-gt-md="row" layout-margin class="noLeftRightMargin">
        <div flex layout="column" class="md-whiteframe-1dp">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    Opening Course
                </div>
            </md-toolbar>
            <md-content>
                <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}",
                           mdt-row-paginator-error-message="Xảy ra lỗi khi tải dữ liệu"
                           mdt-row="{
                       data : availableCourse,
                      'column-keys': [
                          'id',
                          'name',
                          'cost',
                          'department'
                        ]
                      }">
                    <mdt-header-row>
                        <mdt-column align-rule="left">Course</mdt-column>
                        <mdt-column align-rule="left">Name</mdt-column>
                        <mdt-column align-rule="left">Credit</mdt-column>
                        <mdt-column align-rule="left">Department</mdt-column>
                    </mdt-header-row>
                </mdt-table>

            </md-content>
        </div>
    </div>
</strong>
<div class="row times" style="height:auto; display: flex; width: 1475px; margin-left: 8px;">
    <div class="col-xs-2 text-center" style="background: #2196F3; width:10%; border-left:1px ;flex: 1 1 20%;border-style: groove;
">
        <h2><font color="white"><label>Time Table</label></font></h2>
    </div>
    <div class="col-xs-2 text-left" ng-repeat="day in days" style="background: white; border-style: groove;">
        <h2 class= "text-center"><font color="#2196F3">{{ day.name }}</font></h2>
        <div class="time-slot" ng-repeat="slot in day.slots">
            <input id="{{ day.name }}-{{ $index }}" ng-model="slot.booked">
            <label for="{{ day.name }}-{{ $index }}">Time: {{ slot.time }}<br>Room: {{ slot.room }} <br>Course: {{ slot.name}} <br>
            </label>
        </div>
    </div>

</div>



