<div layout="column" layout-gt-md="row">
    <div flex ng-repeat="p in panelResult">
        <md-card md-colors="{background:'blue-500'}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{p.name}}</span>
                    <span class="md-headline">{{p.info | number}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-if="p.href" ui-sref="{{p.href}}"><span>Chi tiết <i class="material-icons">more_horiz</i></span></md-button>
                <md-button ng-if="p.range" ng-click="detailLogs(p.range)"><span>Chi tiết <i class="material-icons">more_horiz</i></span></md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
<div layout="column" layout-gt-md="row" layout-margin class="noLeftRightMargin">
    <div flex layout="column" class="md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Tiếp nhận Logs
            </div>
        </md-toolbar>
        <md-content>
            <div flex>
                <md-progress-linear ng-show="loading" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                <highchart id="chartLine" config="mapConfig"></highchart>
            </div>
        </md-content>
    </div>
</div>
<div layout="column" layout-gt-md="row" layout-margin class="noLeftRightMargin">
    <div flex layout="column" class="md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                TOP IP truy cập
            </div>
        </md-toolbar>
        <md-content>
            <md-progress-linear ng-show="loading" md-mode="indeterminate" class="md-accent"></md-progress-linear>
            <p class="noThing" ng-show="!loading && topIp.length == 0"><em>Không có IP truy cập</em></p>
            <mdt-table mdt-row="{
                data: topIp,
                    'column-keys': [
                        'key',
                        'doc_count',
                        'percentage'
                    ]
                }"
                       ng-show="!loading && topIp.length != 0">
                <mdt-header-row>
                    <mdt-column align-rule="left">Địa chỉ IP</mdt-column>
                    <mdt-column align-rule="right">Số lượt</mdt-column>
                    <mdt-column align-rule="right">Tỷ lệ</mdt-column>
                </mdt-header-row>
                <mdt-custom-cell column-key="key">
                    <a ng-dblclick="clientScope.clickFilter('remote_host', value)"><strong>{{value}}</strong></a>
                </mdt-custom-cell>
                <mdt-custom-cell column-key="doc_count">
                    {{value | number}}
                </mdt-custom-cell>
                <mdt-custom-cell column-key="percentage">
                    {{value | number}} %
                </mdt-custom-cell>
            </mdt-table>
        </md-content>
    </div>
    <div flex layout="column" class="md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
               Thống kê mã phản hồi
            </div>
        </md-toolbar>
        <md-content>
            <div flex>
                <md-progress-linear ng-show="loading" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                <highchart id="chartStatusPie" config="chartStatusConfig"></highchart>
            </div>
        </md-content>
    </div>
</div>
<div layout="column" layout-gt-md="row" layout-margin class="noLeftRightMargin">
    <div flex layout="column" class="md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                TOP đường dẫn
            </div>
        </md-toolbar>
        <md-content>
            <md-progress-linear ng-show="loading" md-mode="indeterminate" class="md-accent"></md-progress-linear>
            <p class="noThing" ng-show="!loading && topUrl.length == 0"><em>Không có đường dẫn truy cập</em></p>
            <mdt-table mdt-row="{
                data: topUrl,
                    'column-keys': [
                        'key',
                        'doc_count',
                        'percentage'
                    ]
                }"
                       ng-show="!loading && topUrl.length != 0">
                <mdt-header-row>
                    <mdt-column align-rule="left">Đường dẫn</mdt-column>
                    <mdt-column align-rule="right">Số lượng</mdt-column>
                    <mdt-column align-rule="right">Tỷ lệ</mdt-column>
                </mdt-header-row>
                <mdt-custom-cell column-key="key">
                    <div title="{{value}}" class="longText"><strong><a ng-dblclick="clientScope.clickFilter('url', value)"><strong>{{value}}</strong></a></strong></div>
                </mdt-custom-cell>
                <mdt-custom-cell column-key="doc_count">
                    {{value | number}}
                </mdt-custom-cell>
                <mdt-custom-cell column-key="percentage">
                    {{value | number}} %
                </mdt-custom-cell>
            </mdt-table>
        </md-content>
    </div>
    <div flex layout="column" class="md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Trình duyệt
            </div>
        </md-toolbar>
        <md-content>
            <div flex>
                <md-progress-linear ng-show="loading" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                <highchart id="chartBrowserPie" config="chartBrowserConfig"></highchart>
            </div>
        </md-content>
    </div>
</div>
<div layout="column" layout-gt-md="row" layout-margin class="noLeftRightMargin">
    <div flex layout="column" class="md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                TOP Referer
            </div>
        </md-toolbar>
        <md-content>
            <md-progress-linear ng-show="loading" md-mode="indeterminate" class="md-accent"></md-progress-linear>
            <p class="noThing" ng-show="!loading && topReferer.length == 0"><em>Không có Referer</em></p>
            <mdt-table mdt-row="{
                data: topReferer,
                    'column-keys': [
                        'key',
                        'doc_count',
                        'percentage'
                    ]
                }"
                       ng-show="!loading && topReferer.length != 0">
                <mdt-header-row>
                    <mdt-column align-rule="left">Referer</mdt-column>
                    <mdt-column align-rule="right">Số lượng</mdt-column>
                    <mdt-column align-rule="right">Tỷ lệ</mdt-column>
                </mdt-header-row>
                <mdt-custom-cell column-key="key">
                    <div title="{{value}}" class="longText"><strong><a ng-dblclick="clientScope.clickFilter('referer', value)"><strong>{{value}}</strong></a></strong></div>
                </mdt-custom-cell>
                <mdt-custom-cell column-key="doc_count">
                    {{value | number}}
                </mdt-custom-cell>
                <mdt-custom-cell column-key="percentage">
                    {{value | number}} %
                </mdt-custom-cell>
            </mdt-table>
        </md-content>
    </div>
    <div flex layout="column" class="md-whiteframe-1dp">
        <md-toolbar>
            <div class="md-toolbar-tools">
                Phương thức HTTP
            </div>
        </md-toolbar>
        <md-content>
            <div flex>
                <md-progress-linear ng-show="loading" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                <highchart id="chartMethodPie" config="chartMethodConfig"></highchart>
            </div>
        </md-content>
    </div>
</div>


