<md-content layout="column" layout-margin layout-padding>
    <div layout="column" layout-gt-md="row">
        <div flex flex-gt-md="15" layout="column">
            <md-input-container class="md-block">
                <label>Chọn Agent</label>
                <md-select ng-model="formSearch.id"
                           ng-click="onSubmitId()"
                           ng-change="onSubmitId()" required>
                    <md-option value="undefined"
                    >Tất cả các Agents</md-option>
                    <md-option ng-repeat="listIndex in listIndexs" ng-value="listIndex.id">{{listIndex.index}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex flex-gt-md="15" layout="column">
            <md-input-container class="md-block">
                <label>Chọn Website</label>
                <md-select ng-model="formSearch.vh"
                           ng-change="onSubmitVh()"
                           ng-disabled = "!formSearch.id||!selectedId.types"
                           required>
                    <md-option value="undefined">Tất cả các Websites</md-option>
                    <md-option ng-repeat="vh in selectedId.types" ng-value="vh">{{vh}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <div flex flex-gt-md="50" layout="row">
            <form flex="90" ng-submit="search()" name="autocompleteForm">
                <md-autocomplete flex
                                 md-search-text="query"
                                 md-items="item in historySearch"
                                 md-item-text="item.command_search"
                                 md-min-length="0"
                                 md-floating-label="Tìm kiếm"
                                 md-no-cache = "true"
                                 md-clear-button="true"
                                 md-delay="1000">
                    <md-item-template>
                        <md-list-item>
                            <p class="longText"> {{ item.command_search }} </p>
                                <md-button class="md-secondary">
                                    <md-icon class="material-icons" ng-click="removeSearch(item._id.$id)">close</md-icon>
                                </md-button>
                        </md-list-item>
                    </md-item-template>
                </md-autocomplete>
            </form>
            <div felx="10">
                <md-button id="searchBtn" class=" md-default" ng-click="search()">
                    <md-icon class="material-icons">search</md-icon>
                </md-button>
            </div>
        </div>
        <div flex flex-gt-md="20" layout="column">
            <md-button class="md-raised md-warn"
                       ng-click="createAlertModal()">Tạo cảnh báo
            </md-button>
        </div>
    </div>
    <!--<div layout="column">-->
        <!--<div layout="row" layout-align="end center">-->
            <!--<md-button ng-click="changeRange(1)"-->
                       <!--class="md-raised"-->
                       <!--ng-class="range==1?'md-primary':''">1 giờ</md-button>-->
            <!--<md-button ng-click="changeRange(2)"-->
                       <!--class="md-raised"-->
                       <!--ng-class="range==2?'md-primary':''">1 ngày</md-button>-->
            <!--<md-button ng-click="changeRange(0)"-->
                       <!--class="md-raised"-->
                       <!--ng-class="range==0?'md-primary':''">1 tuần</md-button>-->
        <!--</div>-->
        <!--<md-progress-linear flex ng-show="loadingChart" md-mode="indeterminate" class="md-accent"></md-progress-linear>-->
        <!--<highchart id="chart1" config="chartConfig"></highchart>-->
    <!--</div>-->
    <md-progress-linear flex ng-show="loadingChart" md-mode="indeterminate" class="md-accent"></md-progress-linear>
    <highchart hide-xs id="realtimeChart" config="chartConfig"></highchart>
</md-content>

<div layout="column" ng-show="totalLogs" layout-padding>
    <div layout="column" layout-gt-md="row" flex-offset-gt-md="20">
            <div flex="20">
                <label></label>
                <div class="btn-group">
                    <button type="button"
                            class="btn btn-default">
                        <strong><em> {{totalLogs | number}} </em></strong> kết quả
                    </button>
                </div>
            </div>
            <div flex="15" hide-sm hide-xs>
                <select class="form-control"
                        ng-model="timeReload"
                        ng-init="timeReload = timeReload || option[1].value"
                        ng-options="option.value as option.name for option in timeOptions">
                </select>
            </div>
            <div flex="15" hide-sm hide-xs>
                <select class="form-control"
                        ng-model="logsPerPage"
                        ng-init="logsPerPage = logsPerPage || option[1].value"
                        ng-options="option.value as option.name for option in logsPerPageOptions">
                </select>
            </div>
            <dir-pagination-controls
                        flex ="60"
                        max-size="6"
                        direction-links="true"
                        boundary-links="false"
                        on-page-change="pageChanged(newPageNumber)"
                        pagination-id="searchBasicResult">
                </dir-pagination-controls>

    </div>
    <div layout="column" layout-gt-md="row" >
        <div hide-xs flex flex-gt-md="15" flex-gt-md="noshrink" layout="column" layout-padding ng-show="aggregations.length != 0">
            <div class="md-whiteframe-1dp">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td></td>
                        <td><strong>THUỘC TÍNH</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="(k,v) in aggregations">
                        <td>#</td>
                        <td class="pointer"
                            data-template-url="components/logs/popover.tpl.html"
                            data-auto-close="1"
                            bs-popover>
                            <a>{{k}}</a>
                            <small>({{v.length}})</small>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div flex flex-gt-md="85" layout="column">
            <div layout="row"  layout-padding layout-margin class="md-whiteframe-1dp"
                     dir-paginate="log in logs| itemsPerPage: logsPerPage"
                     total-items="totalLogs"
                     current-page="pagination.current "
                     pagination-id="searchBasicResult"
                     ng-show="log._source.raw">
                <div hide-xs hide-sm flex-gt-md="20" style="padding: 0;">
                    <strong>
                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{log._source.time | myTimeFormat}}
                    </strong>
                </div>
                <div flex flex-gt-md="80" style="padding: 0">
                    <p class="logs" md-highlight-text="query" md-highlight-flags="g">
                        {{log._source.raw}}
                    </p>
                    <span ng-repeat="(key, value) in log._source">
                        <span ng-if="key != 'line'&& key != 'raw' && key != 'useragent' && key !='target' && key !='hour' && key !='arrived_time' ">
                            <label  ng-click="clickFilter(key,value)" class="label label-default text-grey">{{key}} = {{value}}</label>
                            <!--<span style="opacity: 0.8">{{value}}</span>-->
                        </span>

                    </span>
                </div>
            </div>
            <div layout="column" layout-gt-md="row">
                <div flex="20">
                    <label></label>
                    <div class="btn-group">
                        <button type="button"
                                class="btn btn-default">
                            <strong><em> {{totalLogs | number}} </em></strong> kết quả
                        </button>
                    </div>
                </div>
                <div flex="15" hide-sm hide-xs>
                    <select class="form-control"
                            ng-model="timeReload"
                            ng-init="timeReload = timeReload || option[1].value"
                            ng-options="option.value as option.name for option in timeOptions">
                    </select>
                </div>
                <div flex="15" hide-sm hide-xs>
                    <select class="form-control"
                            ng-model="logsPerPage"
                            ng-init="logsPerPage = logsPerPage || option[1].value"
                            ng-options="option.value as option.name for option in logsPerPageOptions">
                    </select>
                </div>
                <dir-pagination-controls
                        flex ="60"
                        max-size="6"
                        direction-links="true"
                        boundary-links="false"
                        on-page-change="pageChanged(newPageNumber)"
                        pagination-id="searchBasicResult">
                </dir-pagination-controls>
            </div>
        </div>
    </div>
</div>
