<md-dialog flex="40">
    <form ng-cloak name="addWebsite">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>THÊM WEBSITE</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Hostname</label>
                    <input type="text"
                           name="hostname"
                           ng-model="websiteModal.hostName"
                           md-maxlength="64"
                           ng-pattern="/^(([a-zA-Z0-9]|[a-zA-Z0-9][a-zA-Z0-9\-]*[a-zA-Z0-9])\.)*([A-Za-z0-9]|[A-Za-z0-9][A-Za-z0-9\-]*[A-Za-z0-9])$/"
                           placeholder="Nhập Hostname của website"
                           required/>
                    <div ng-messages="addWebsite.hostname.$error" ng-show="addWebsite.hostname.$dirty">
                        <div ng-message="required">Hostname không được để trống!</div>
                        <div ng-message="md-maxlength">Hostname quá dài!</div>
                        <div ng-message="pattern">Hostname không đúng định dạng!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Giao thức</label>
                    <md-select name="protocol" ng-model="websiteModal.protocol" required>
                        <md-option value="http">HTTP</md-option>
                        <md-option value="https">HTTPS</md-option>
                    </md-select>
                    <div ng-messages="addWebsite.protocol.$error" ng-show="addWebsite.protocol.$dirty">
                        <div ng-message="required">Giao thức không được để trống!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Cổng truy cập: </label>
                    <input type="number"
                           name="port"
                           min="1"
                           max="65535"
                           ng-model="websiteModal.port"
                           placeholder="Nhập cổng của website"
                           required/>
                    <div ng-messages="addWebsite.port.$error" ng-show="addWebsite.port.$dirty">
                        <div ng-message="required">Cổng không được để trống!</div>
                        <div ng-message="max">Cổng truy cập quá lớn!</div>
                        <div ng-message="min">Cổng truy cập lớn hơn 0!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Thời gian học (ngày): </label>
                    <input type="number"
                           name="time"
                           ng-model="websiteModal.time"
                           min="1"
                           max="365"
                           placeholder="Thời gian học dành cho chức năng phát hiện Deface"
                           required/>
                    <div ng-messages="addWebsite.time.$error" ng-show="addWebsite.time.$dirty">
                        <div ng-message="required">Thời gian học không được để trống!</div>
                        <div ng-message="max">Thời gian học quá lớn!</div>
                        <div ng-message="min">Thời gian học lớn hơn 0!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn" ng-click="cancel()">
                Hủy bỏ
            </md-button>
            <md-button class="md-primary" ng-disabled="addWebsite.$invalid || onRequest"
                       md-auto-focus
                       ng-click="add()">
                Thêm mới
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>