<md-dialog flex="90">
    <form ng-cloak name="addWebsite">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>CẤU TRÚC WEBSITE</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <!--<iframe class="frame" width="100%" height="350px;" style="overflow-y: scroll" scrolling="yes" src="{{source_website}}"></iframe>-->
                <!--<iframe class="frame" width="100%" height="350px;" style="overflow-y: scroll" scrolling="yes" src="http://vnistwebassistant2.vn/filereport/rawContent.html"></iframe>-->
                <!--<text-angular ng-bind="htmlVariable"></text-angular>-->
                <div layout="row">
                    <!--<textarea rows="50" flex ng-bind="htmlVariable">-->
                    <textarea ui-codemirror="cmOption" ui-refresh='refresh' ng-model="htmlVariable"></textarea>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-warn" ng-click="cancel()">
                Hủy bỏ
            </md-button>
            <md-button class="md-primary"
                       md-auto-focus
                       ng-click="confirmWebStruct()">
                Xác nhận
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>