<md-dialog flex="40">
    <form ng-cloak name="editHook">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Chỉnh sửa WEB HOOK</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="material-icons">cancel</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Mô tả</label>
                    <input type="text"
                           name="description"
                           ng-model="webHook.description"
                           md-maxlength="256"
                           placeholder="Nhập mô tả"
                           required/>
                    <div ng-messages="editHook.description.$error" ng-show="editHook.description.$dirty">
                        <div ng-message="required">Phần mô tả không được để trống!</div>
                        <div ng-message="md-maxlength">Phần mô tả quá dài!</div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Đường dẫn</label>
                    <input type="text"
                           name="link"
                           ng-model="webHook.link"
                           md-maxlength="128"
                           placeholder="Nhập đường dẫn Webhook"
                           ng-pattern="/https?:\/\/(?:www\.|(?!www))[^\s\.]+\.[^\s]{2,}|www\.[^\s]+\.[^\s]{2,}/"
                           required/>
                    <div ng-messages="editHook.link.$error" ng-show="editHook.link.$dirty">
                        <div ng-message="required">Đường dẫn không được để trống!</div>
                        <div ng-message="pattern">Đường dẫn không đúng định dạng!</div>
                        <div ng-message="md-maxlength">Đường dẫn quá dài!</div>
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row" layout-margin>
            <span flex></span>
            <md-button class="md-warn md-raised" ng-click="cancel()">
                Hủy bỏ
            </md-button>
            <md-button class="md-success md-raised" ng-disabled="editInfo.$invalid"
                       ng-click="edit()">
                Cập nhật
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

