<div layout="column" layout-gt-md="row" layout-padding>
    <div flex="50" layout="column" style="position: relative" >
        <md-button hide-xs hide-sm class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="editProfileModal()">
            <md-icon class="material-icons">edit</md-icon>
        </md-button>
        <h3 class="md-title text-center">Personal Information</h3>
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Username :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{profile.username}}</span>
                </md-input-container>
            </div>
            <div class="line"></div>
        </div>
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>First name :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{profile.first_name}}</span>
                </md-input-container>
            </div>
            <div class="line"></div>
        </div>
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Last name :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{profile.last_name}}</span>
                </md-input-container>
            </div>
            <div class="line"></div>
        </div>
        <div ng-if = "profile.class_id"layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Class :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{profile.class_id}}</span>
                </md-input-container>
            </div>
            <div class="line"></div>
        </div>
        <div ng-if = "profile.department"layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Department :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{profile.department}}</span>
                </md-input-container>
            </div>
            <div class="line"></div>
        </div>
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Date joined :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{profile.date_joined}}</span>
                </md-input-container>
            </div>
            <div class="line"></div>
        </div>
        <!--         <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex>Email address :</div>
                        <md-input-container flex="50">
                            <span>{{userProfile.email}}</span>
                        </md-input-container>
                        <div class="line"></div>
                </div>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex>Major :</div>
                    <div flex-xs="70" flex>
                        <md-input-container>
                            <span>{{userProfile.major}}</span>
                        </md-input-container>
                    </div>
                    <div class="line"></div>
                </div>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex>Favorite :</div>
                    <div flex-xs="70" flex>
                        <md-input-container>
                            <span>{{userProfile.bio}}</span>
                        </md-input-container>
                    </div>
                    <div class="line"></div>
                </div> -->
        <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
            <div flex-xs="30" flex>Group :</div>
            <div flex-xs="70" flex>
                <md-input-container>
                    <span>{{profile.type}}</span>
                </md-input-container>
            </div>
        </div>
    </div>
    <div flex="50" layout="column">
        <h3 class="md-title text-center">Change password</h3>
        <form name="userPasswordForm" ng-submit="saveChangePwd()">
            <div layout="column" layout-padding  class="md-whiteframe-1dp">
                <md-input-container>
                    <label>Old password</label>
                    <input type="password" name="passwordOld"
                           ng-model="userPwd.passwordOld" required>
                    <div ng-messages="userPasswordForm.passwordOld.$error" ng-show="userPasswordForm.passwordOld.$dirty">
                        <div ng-message="required">This field cannot be blank</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>New password</label>
                    <input type="password" name="password"
                           ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]/"
                           minlength="8"
                           ng-model="userPwd.password"
                           required>
                    <div ng-messages="userPasswordForm.password.$error" ng-show="userPasswordForm.password.$dirty">
                        <div ng-message="required">This field cannot be blank</div>
                        <div ng-message="pattern">Password must contains both numbers and characters </div>
                        <div ng-message="minlength">Password must be atleast 8 characters</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Retype new password</label>
                    <input type="password" name="password2"
                           ng-model="userPwd.password2"
                           ng-disabled="userPasswordForm.password.$invalid"
                           required>
                    <div ng-messages="userPasswordForm.password2.$error" ng-show="userPasswordForm.password2.$dirty">
                        <div ng-message="required">This field cannot be blank</div>
                        <div ng-message="notMatch">Incorrect retype new password</div>
                    </div>
                </md-input-container>
                <div></div>
                <div flex="30">
                    <md-button type="submit"
                               class="md-raised md-primary"
                               ng-disabled="userPasswordForm.$invalid">Change password</md-button>
                </div>
            </div>
        </form>
    </div>
</div>