<div layout="row" flex>
    <div hide-xs hide-sm flex-offset-gt-md="20" flex-gt-md="30" flex="0">
        <div class="front-panel transbox-logo text-center">
            <img src="../../images/logo.bmp">
            <div>
                <!--<span class="slogan-black">Bảo mật & hỗ trợ hoạt động website</span>-->
                <span class="slogan-orange">Student</span>
                <!-- <span class="slogan-black"> &</span> -->
                <span class="slogan-green"> Management</span>
                <span class="slogan-black"> System</span>
            </div>
        </div>
    </div>
    <div flex="100" flex-gt-md="30">
        <div ui-view="login" ng-show="$state.includes('authen.login')"></div>
        <div ui-view="signup" ng-show="$state.includes('authen.signup')"></div>
        <div ui-view="forgot" ng-show="$state.includes('authen.forgot')"></div>
        <div ui-view="reConfirmEmail" ng-show="$state.includes('authen.reConfirmEmail')"></div>
    </div>
</div>