<md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
    <md-nav-item permission
                 permission-only = "['1','3']"
                 md-nav-sref="dashboard.student_management.list_student"
                 name="dashboard.student_management.list_student">
        <i class="material-icons">list</i><span hide-xs>List students</span>
    </md-nav-item>
    <md-nav-item hide-xs permission
                 permission-only = "['1']"
                 md-nav-sref="dashboard.student_management.update_by_session"
                 name="dashboard.student_management.update_by_session">
        <i class="material-icons">playlist_add_check</i><span hide-xs> Update By Session</span>
    </md-nav-item>
    <md-nav-item hide-xs permission
                 permission-only = "['1','2','3']"
                 md-nav-sref="dashboard.student_management.student_result"
                 name="dashboard.student_management.student_result">
        <i class="material-icons">spellcheck</i><span hide-xs>Student result</span>
    </md-nav-item>
    <md-nav-item hide-xs permission
                 permission-only = "['1','2','3']"
                 md-nav-sref="dashboard.student_management.schedule"
                 name="dashboard.student_management.schedule">
        <i class="material-icons">poll</i><span hide-xs>Schedule</span>
    </md-nav-item>
    <!--<md-nav-item hide-xs hide-sm permission-->
                 <!--permission-only = "['1','2']"-->
                 <!--md-nav-sref="dashboard.student_management.trustedIp" name="dashboard.student_management.trustedIp">-->
        <!--<i class="material-icons">playlist_add_check</i><span hide-xs> IP tin cậy</span>-->
    <!--</md-nav-item>-->
    <!--<md-nav-item hide-xs hide-sm permission-->
                 <!--permission-only = "['1','2']"-->
                 <!--md-nav-sref="dashboard.student_management.reports" name="dashboard.student_management.reports">-->
        <!--<i class="material-icons">show_chart</i><span hide-xs> Báo cáo</span>-->
    <!--</md-nav-item>-->
</md-nav-bar>

<div ui-view="positive" ng-show="$state.includes('dashboard.student_management.list_student')"></div>
<div ui-view="negative" ng-show="$state.includes('dashboard.student_management.student_result')"></div>
<div ui-view="done" ng-show="$state.includes('dashboard.student_management.schedule')"></div>
<div ui-view="report" ng-show="$state.includes('dashboard.student_management.update_by_session')"></div>

