<md-dialog flex="40">
  <form ng-cloak name="addCourse">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add Course</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="material-icons">cancel</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <span>Course ID</span>
          <input type="text"
                 name="id"
                 ng-model="addedCourse.id"
                 md-maxlength="10"
                 required/>
          <div ng-messages="addCourse.id.$error" ng-show="addCourse.id.$touched">
            <div ng-message="required">This field cannot be blank</div>
            <div ng-message="md-maxlength">Course ID is too long</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <span>Course name</span>
          <input type="text"
                 name="name"
                 ng-model="addedCourse.name"
                 md-maxlength="64"
                 required/>
          <div ng-messages="addCourse.name.$error" ng-show="addCourse.name.$touched">
            <div ng-message="required">This field cannot be blank</div>
            <div ng-message="md-maxlength">Course name is too long</div>
          </div>
        </md-input-container>
        <div layout="row" layout-align="space-between center" style="width:250px; height:76px;">
          <span>Status : </span>
          <md-select ng-model="addedCourse.active" placeholder="Status" class="md-no-underline">
            <md-option value="true">Opening</md-option>
            <md-option value="false">Closed</md-option>
          </md-select>
        </div>
        <md-input-container class="md-block">
          <div layout="row" layout-align="space-between center">
            <span>Select department: </span>
            <md-select ng-model="department" placeholder="Department name" class="md-no-underline" required name="department">
              <md-option value="{{value.id}}" ng-repeat="value in allDepartment">{{value.name}}</md-option>
            </md-select>
          </div>
          <div ng-messages="addCourse.department.$error" ng-show="addCourse.department.$touched">
              <div ng-message="required">Deparment must be selected!</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <span>Credit</span>
          <input type="number"
                 name="cost"
                 ng-model="addedCourse.cost"
                 max="10"
                 min="0"
                 required/>
          <div ng-messages="addCourse.cost.$error" ng-show="addCourse.cost.$touched">
            <div ng-message="required">This field cannot be blank</div>
            <div ng-message="max">Maximum credit is 10</div>
            <div ng-message="min">Minimum credit is 0</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <span>Session number</span>
          <input type="number"
                 name="session"
                 ng-model="addedCourse.session"
                 max="5"
                 min="1"
                 required/>
          <div ng-messages="addCourse.session.$error" ng-show="addCourse.session.$touched">
            <div ng-message="required">This field cannot be blank</div>
            <div ng-message="max">Maximum credit is 5</div>
            <div ng-message="min">Minimum credit is 1</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <span>Requirements</span>
          <div flex="100" flex-gt-sm="50" layout="column">
            <div>
              <fieldset class="standard" >
                <div layout="row" layout-wrap flex>
                  <div flex="50" ng-repeat="item in allCourse">
                    <md-checkbox ng-checked="exist(item)" ng-click = "toggle(item)">
                      {{ item }}
                    </md-checkbox>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-primary md-raised" ng-disabled="addCourse.$invalid || onRequest"
                 md-auto-focus
                 ng-click="add()">
        Thêm mới
      </md-button>
      <md-button class="md-warn md-raised" ng-click="cancel()">
        Hủy bỏ
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>