<div ng-controller="courseController as ctrl" ng-cloak>
    <div layout-padding layout="column" layout-gt-md="row" layout-margin style="max-height: 680px">
        <md-content flex="nogrow" flex-gt-md="30" layout="column">
            <div layout="row">
                <form flex ng-submit="searchCourse(query)" name="formSearch">
                    <md-input-container ng-form="formSearch" class="md-icon-float md-icon-right mb-block">
                        <!-- Use floating label instead of placeholder -->
                        <md-icon md-font-set="material-icons"> search </md-icon>
                        <label>Course Searching</label>
                        <input ng-model="id" type="text">
                    </md-input-container>
                </form>
                <md-button style="margin-top: 16px;" class="md-icon-button launch" ng-click="addCourseModal()" permission permission-only="['1']">
                    <md-icon md-colors="{color:'green-500'}" md-font-set="material-icons"> add_box </md-icon>
                </md-button>
            </div>
                
            <md-list flex class="max-heigh-content">
                <md-progress-linear ng-show="loadingCourseList" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                <p class="noThing" ng-if="!loadingCourseList && showCourse.length==0"><em>No Course Available!</em></p>
                <md-list-item ng-click="select(value)" ng-if="!loadingCourseList" ng-repeat="value in showCourse | filter : id"
                ng-class="selectedId==value.id?'label-grey':''" >
                <p class="longText">{{value.id}}</p>
                    <md-icon hide-sm hide-xs ng-click="deleteCourseModal(value)" class="md-secondary"
                    md-font-set="material-icons" md-colors="{color:'red-500'}">delete</md-icon>
                </md-list-item>
                    </md-list>
                    <!--<md-list flex>-->
                    <!--<md-virtual-repeat-container id="vertical-container">-->
                    <!--<md-list-item md-virtual-repeat="value in ctrl.infiniteItems"-->
                    <!--md-on-demand ng-class="selectedId==value.id?'label-grey':''"  flex>-->
                    <!--<md-icon ng-show="value.status==1" title="Kết nối thành công"-->
                    <!--md-font-set="material-icons" md-colors="{color:'green-500'}">check</md-icon>-->
                    <!--<md-icon ng-show="value.status==0" title="Kết nối thất bại"-->
                    <!--md-font-set="material-icons" md-colors="{color:'red-500'}">clear</md-icon>-->
                    <!--<div ng-click="selectWebsite(value.id, value.hostName)"-->
                    <!--class="longText">{{value.hostName}}</div>-->
                    <!--<md-icon ng-show="value" ng-click="webStructModal()" class="md-secondary"-->
                    <!--md-font-set="material-icons" md-colors="{color:'grey-500'}">code</md-icon>-->
                    <!--<md-icon ng-show="value" ng-click="editWebsiteModal(value)" class="md-secondary"-->
                    <!--md-font-set="material-icons" md-colors="{color:'green-500'}">edit</md-icon>-->
                    <!--<md-icon ng-show="value" ng-click="deleteWebsiteModal()" class="md-secondary"-->
                    <!--md-font-set="material-icons" md-colors="{color:'red-500'}">delete</md-icon>-->
                    <!--</md-list-item>-->
                    <!--</md-virtual-repeat-container>-->
                    <!--</md-list>-->
                </md-content>
                <div flex flex-gt-md="70" layout="column" layout-margin >
            <!-- <md-content>
                <md-progress-linear ng-show="loadingChart" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                <highchart id="chartMonitor" config="chartConfig"></highchart>
            </md-content> -->
            <div flex="100" layout="column" layout-padding>
                <br><br>
                <h1 style="text-align: center"><font color="#2196F3">Course Information</font></h1><br>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex= "50"><h2>Course ID :</h2></div>
                    <div flex-xs="70" flex>
                            <h2>{{selectedCourse.id}}</h2>
                    </div>
                    <md-button hide-xs hide-sm aria-label="Add" class="md-fab" ng-click="editCourseModal(selectedCourse)">
                        <md-icon class="material-icons">edit</md-icon>
                    </md-button>
                </div>
                 <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex></div>
                    <div flex-xs="70" flex>
                    </div>
                </div>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex><h2>Name :</h2></div>
                    <div flex-xs="70" flex>
                            <h2>{{selectedCourse.name}}</h2>
                    </div>
                </div>
                 <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex></div>
                    <div flex-xs="70" flex>
                    </div>
                </div>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex><h2>Status :</h2></div>
                    <div flex-xs="70" flex>
                           <h2>{{selectedCourse.status}}</h2>
                    </div>
                </div>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex></div>
                    <div flex-xs="70" flex>
                    </div>
                </div>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex><h2>Credits :</h2></div>
                    <div flex-xs="70" flex>
                            <h2>{{selectedCourse.cost}}</h2>
                    </div>
                </div>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex></div>
                    <div flex-xs="70" flex>
                    </div>
                </div>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex><h2>Requirements :</h2></div>
                    <div flex-xs="70" flex>
                            <h2><span ng-if="selectedCourse.require">{{selectedCourse.require}}</span></h2>
                             <h2><span ng-if="!selectedCourse.require && showCourse.length!=0">NOT ACTIVE</span></h2>
                    </div>
                </div>
                <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                    <div flex-xs="30" flex></div>
                    <div flex-xs="70" flex>
                    </div>
                </div>
            </div>

        </div>
    </div>
   <!--  <div layout-padding layout="column" layout-gt-md="row" layout-margin>
        <md-content flex flex-gt-md="30" layout="column">
            <md-progress-linear ng-show="loadingChartPie" md-mode="indeterminate" class="md-accent"></md-progress-linear>
            <highchart id="chartStatistic" config="chartStatisticConfig" class="span5"></highchart>
        </md-content>
        <md-content flex flex-gt-md ="70" layout="column"> -->
            <!--<md-input-container class="md-icon-float md-icon-left mb-block">-->
            <!--&lt;!&ndash; Use floating label instead of placeholder &ndash;&gt;-->
            <!--<label>Tìm kiếm sự kiện</label>-->
            <!--<md-icon md-font-set="material-icons"> search </md-icon>-->
            <!--<input ng-model="filterName" type="text">-->
            <!--</md-input-container>-->
            <!--<div ng-hide="true">-->
            <!--{{(filteredItems = (events | filter: filterName))}}-->
            <!--</div>-->
            <!-- <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,20,50,100]}",
                       mdt-row-paginator="getEvents(page, pageSize)"
                       mdt-row-paginator-error-message="Xảy ra lỗi khi tải dữ liệu"
                       mdt-trigger-request="getLoadResultsCallback(loadPageCallback)"
                       mdt-row="{
                              'table-row-id-key': '_id.$id',
                              'column-keys': [
                                  'event',
                                  'time',
                                  'reason',
                                  'duration'
                              ]
                              }">
                <mdt-header-row>
                    <mdt-column align-rule="left">Sự kiện</mdt-column>
                    <mdt-column align-rule="left">Thời gian</mdt-column>
                    <mdt-column align-rule="left">Trạng thái</mdt-column>
                    <mdt-column align-rule="left">Khoảng thời gian</mdt-column>
                </mdt-header-row>
                <mdt-custom-cell column-key="event">
                    <label class="label" ng-class="value == 'Down'?'label-danger':value == 'Up'?'label-success':'label-primary'">
                        <i class="fa"
                           ng-class="value == 'Down'?'fa-long-arrow-down':value == 'Up'?'fa-long-arrow-up':'fa-play'"></i>
                        {{value}}
                    </label>
                </mdt-custom-cell>
                <mdt-custom-cell column-key="time">
                    {{value | date:'yyyy-MM-dd HH:mm:ss'}}
                </mdt-custom-cell>
                <mdt-custom-cell column-key="reason">
                    <label class="label"
                           ng-class="value == 'OK' || value=='OK (200)'?'label-success':'label-danger'">
                        {{value}}
                    </label>
                </mdt-custom-cell>
            </mdt-table> -->
            <!-- </md-content> -->
            <!-- </div> -->
        </div>

        <div layout="column" style="visibility: hidden">
            <div flex class="md-dialog-container" id="myDialog">
                <md-dialog flex  style="height: 100% !important;" >
                    <div align="center" id="mynetwork"></div>
                </md-dialog>
            </div>
        </div>

