<div ng-controller="courseController as ctrl" ng-cloak>
    <div layout-padding layout="column" layout-gt-md="row" layout-margin style="max-height: 563px">
        <md-content flex="nogrow" flex-gt-md="30" layout="column" class="md-whiteframe-1dp">
            <div layout="row">
                <form flex ng-submit="searchCourse(query)" name="formSearch">
                    <md-input-container ng-form="formSearch" class="md-icon-float md-icon-right mb-block">
                        <!-- Use floating label instead of placeholder -->
                        <md-icon md-font-set="material-icons"> search </md-icon>
                        <label><b>Course Searching</b></label>
                        <input ng-model="id" type="text">
                    </md-input-container>
                </form>
                <md-button style="margin-top: 16px;" class="md-icon-button launch" ng-click="addCourseModal()" permission permission-only="['3']">
                    <md-icon md-colors="{color:'green-500'}" md-font-set="material-icons" title="Add New Course"> add_box </md-icon>
                </md-button>
            </div>

            <md-list flex class="max-heigh-content">
                <md-progress-linear ng-show="loadingCourseList" md-mode="indeterminate" class="md-accent"></md-progress-linear>
                <p class="noThing" ng-if="!loadingCourseList && showCourse.length==0"><em>No Course Available!</em></p>
                <p class="noThing" ng-if="loadingCourseList && showCourse.length==0"><em>Loading All Course</em></p>
                <md-list-item ng-click="select(value)" ng-if="!loadingCourseList" ng-repeat="value in showCourse | filter : id"
                              ng-class="selectedId==value.id?'label-grey':''" >
                    <md-icon hide-sm hide-xs ng-if="!value.active"
                             md-font-set="material-icons" md-colors="{color:'red-500'}" title="Close">cancel</md-icon>
                    <md-icon hide-sm hide-xs ng-if="value.active"
                             md-font-set="material-icons" md-colors="{color:'green-500'}" title="Opening">check_circle</md-icon>

                    <p class="longText" permission permission-only="['3']"><b>{{value.id}} : {{value.display}}</b></p>
                    <p class="longText" permission permission-only="['1', '2']"><b>{{value.id}} : {{value.name}}</b></p>
                    <md-icon hide-sm hide-xs ng-click="addSessionModal(value)" class="md-secondary"
                             md-font-set="material-icons" md-colors="{color:'blue-500'}" permission permission-only="['3']" title="Assign This Session" ng-if="value.active">add_box</md-icon>
                    <md-icon hide-sm hide-xs ng-click="deleteCourseModal(value)" class="md-secondary"
                             md-font-set="material-icons" md-colors="{color:'red-500'}" permission permission-only="['3']" title="Delete This Course">delete</md-icon>
                </md-list-item>
            </md-list>
        </md-content>
        <div flex flex-gt-md="70" layout="column" layout-margin >
            <div flex="100" layout="column">
                <!--<br><br>-->
                <h2 style="text-align: center"><font color="#2196F3">Course Information</font></h2>
                <b>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp" style="height: 84px">
                        <div flex-xs="30" flex= "50">Course ID :</div>
                        <div flex-xs="70" flex>
                            <span>{{selectedCourse.id}}</span>
                        </div>
                        <md-button hide-xs hide-sm aria-label="Add" class="md-fab" ng-click="editCourseModal(selectedCourse)" permission permission-only="['3']">
                            <md-icon class="material-icons" title="Edit {{selectedCourse.id}}'s Infomation">edit</md-icon>
                        </md-button>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                        <div flex-xs="30" flex></div>
                        <div flex-xs="70" flex>
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                        <div flex-xs="30" flex>Name :</div>
                        <div flex-xs="70" flex>
                            {{selectedCourse.name}}
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                        <div flex-xs="30" flex></div>
                        <div flex-xs="70" flex>
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                        <div flex-xs="30" flex>Status :</div>
                        <div flex-xs="70" flex>
                            {{selectedCourse.status}}
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                        <div flex-xs="30" flex></div>
                        <div flex-xs="70" flex>
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                        <div flex-xs="30" flex>Credits :</div>
                        <div flex-xs="70" flex>
                            {{selectedCourse.cost}}
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                        <div flex-xs="30" flex></div>
                        <div flex-xs="70" flex>
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                        <div flex-xs="30" flex>Requirements :</div>
                        <div flex-xs="70" flex>
                            <span ng-if="selectedCourse.require">{{selectedCourse.require}}</span>
                            <span ng-if="!selectedCourse.require && showCourse.length!=0">NOT ACTIVE</span>
                        </div>
                    </div>
                    <div layout="row" layout-padding layout-align="start center" class="md-whiteframe-1dp">
                        <div flex-xs="30" flex></div>
                        <div flex-xs="70" flex>
                        </div>
                    </div>
                </b>

            </div>

        </div>
    </div>
    <div layout="row" layout-gt-md="row" layout-margin layout-padding>
        <div flex flex-gt-md="96" class="md-whiteframe-1dp" permission permission-only="['1', '2']">
            <md-toolbar>
                <div class="md-toolbar-tools" ng-if="selectedCourse">
                    {{selectedCourse.id}}'s Session(s)
                </div>
            </md-toolbar>
            <md-content>
                <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
                           mdt-row-paginator-error-message="Xảy ra lỗi khi tải dữ liệu"
                           mdt-row="{
                       data : showClass,
                      'column-keys': [
                          'id',
                          'name',
                          'time',
                          'week_day',
                          'course_id',
                          'credit',
                          'lecturer_name',
                          'room',
                          'semester',
                          'requirements',
                        ]
                      }">
                    <mdt-header-row>
                        <mdt-column align-rule="center">Id</mdt-column>
                        <mdt-column align-rule="center">Session name</mdt-column>
                        <mdt-column align-rule="center">Time</mdt-column>
                        <mdt-column align-rule="center">Day</mdt-column>
                        <mdt-column align-rule="center">Course Id</mdt-column>
                        <mdt-column align-rule="center">Credit</mdt-column>
                        <mdt-column align-rule="center">Lecturer name</mdt-column>
                        <mdt-column align-rule="center">Room</mdt-column>
                        <mdt-column align-rule="center">Semester</mdt-column>
                        <mdt-column align-rule="center">Requirements</mdt-column>
                    </mdt-header-row>
                    <mdt-custom-cell column-key="requirements">
                        <label class="label label-success ng-scope ng-hide" ng-show="value.length > 0" aria-hidden="true">{{value}}</label>
                        <label class="label label-warning ng-scope" ng-show="value.length === 0" aria-hidden="false">NOT ACTIVE</label>
                    </mdt-custom-cell>
                </mdt-table>

            </md-content>
        </div>
        <div flex flex-gt-md="96" class="md-whiteframe-1dp" permission permission-only="['3']">
            <md-toolbar>
                <div class="md-toolbar-tools" ng-if="selectedCourse">
                    {{selectedCourse.id}}'s Session(s)
                </div>
            </md-toolbar>
            <md-content>
                <mdt-table paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
                           mdt-row-paginator-error-message="Xảy ra lỗi khi tải dữ liệu"
                           mdt-row="{
                       data : showClass,
                      'column-keys': [
                          'id',
                          'name',
                          'time',
                          'week_day',
                          'course_id',
                          'credit',
                          'lecturer_name',
                          'room_name',
                          'semester',
                          'requirements',
                          'ids'
                        ]
                      }">
                    <mdt-header-row>
                        <mdt-column align-rule="center">Id</mdt-column>
                        <mdt-column align-rule="center">Session name</mdt-column>
                        <mdt-column align-rule="center">Time</mdt-column>
                        <mdt-column align-rule="center">Day</mdt-column>
                        <mdt-column align-rule="center">Course Id</mdt-column>
                        <mdt-column align-rule="center">Credit</mdt-column>
                        <mdt-column align-rule="center">Lecturer name</mdt-column>
                        <mdt-column align-rule="center">Room</mdt-column>
                        <mdt-column align-rule="center">Semester</mdt-column>
                        <mdt-column align-rule="center">Requirements</mdt-column>
                        <mdt-column align-rule="center">Remove</mdt-column>
                    </mdt-header-row>
                    <mdt-custom-cell column-key="requirements">
                        <label class="label label-success ng-scope ng-hide" ng-show="value.length > 0" aria-hidden="true">{{value}}</label>
                        <label class="label label-warning ng-scope" ng-show="value.length === 0" aria-hidden="false">NOT ACTIVE</label>
                    </mdt-custom-cell>
                    <mdt-custom-cell column-key="ids">
                        <md-icon hide-sm hide-xs ng-click="clientScope.deleteSession(value)" class="md-secondary"
                                 md-font-set="material-icons" md-colors="{color:'red-500'}" permission permission-only="['3']" title="Delete This Session">delete</md-icon>
                    </mdt-custom-cell>
                </mdt-table>

            </md-content>
        </div>
    </div>
</div>

